alembic==1.3.3
aniso8601==8.0.0
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==0.12.2
Flask-Login==0.4.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
flask-sqlalchemy-core==0.1.1
flask-sqlalchemy-paging==0.0.2
flask-sqlalchemy-raw==0.0.4
flask-sqlalchemy-rls==0.0.2
flask-sqlalchemy-unchained==0.7.3
flask-sqlite-admin==0.3
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.3
Mako==1.1.1
MarkupSafe==1.1.1
pampy==0.3.0
Py-Meta-Utils==0.7.6
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
requests==2.20.0
six==1.14.0
SQLAlchemy==1.3.13
SQLAlchemy-Unchained==0.10.0
urllib3==1.22
Werkzeug==0.16.1
